.container {
      background: white;
      padding: 30px 25px;
      border-radius: 10px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
      box-sizing: border-box;
    }

    h2 {
      text-align: center;
      color:rgb(0, 104, 179);
      margin-bottom: 25px;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    input {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 8px;
      font-size: 14px;
    }

    #changeBtn {
      width: 100%;
      padding: 12px;
      background-color: rgb(0, 104, 179);
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

      #changeBtn:hover {
      background-color: #115293;
    }

    .message {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;
      color: red;
    }

    .message.success {
      color: green;
    }
      header{
    width: 100%;
    height: 65px;
 
    border-bottom: 0.5px #e8e8e8 solid;
    display: flex;
   justify-content: space-between;
   position: relative;
}
header #logo{
    max-width: 200px;
    height: auto;
    max-height: 40px;
    margin:12px 0px 5px 10px;
    float: left;
    position:absolute;
   
}
header nav{
    margin: 8px 0px 5px 0px;
    display: block;
    float: right;
}
header nav ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
header nav ul li{
    margin-right: 15px;
    padding-top: 8px;
   
}
header nav ul #liLogin{
  padding-top: 7px;
  padding-right: 4px;
  display: flex;
}
header nav ul #liLogin #login{
    
    height: 27px;

     
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  
   
}
header nav ul #liLogin #login a{
    color:white;
}
header nav ul li a{
    color: black;
    text-decoration: none;
}
 header  #btnSearch{
      padding: 5px 13px 5px 13px;
      border-radius: 15px;
      border: 0.2px solid lightgray;
      background-color:rgb(253, 247, 236);
        
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.333);
      font-weight: 250;
      font-size: small;
      cursor: pointer;
      height: 30px;
      margin:17px 30px 0px 0px;
   
      
    }
.dropdown{
    display: none;
    float: right;
    margin: 10px 10px 5px 0px;
    position: relative;
    cursor: pointer;

}
@media (max-width: 768px) {


    header nav{
        display: none;
    }
    .dropdown{
        display: block;
        font-size: larger;
        margin: 13px 10px 5px 0px;
    }
    .fa-bars-staggered{
        font-size: larger;
        color: #00bf63;
        margin: 10px 5px 5px 0px;
    }
    header #logo {
        margin-top: 13px;
        max-height: 40px; /* Adjust max height for smaller screens */
    }
}
